
body{
    background-color: beige;
}
p{
    
    text-transform: capitalize;
      

}
a{
    text-decoration:none;
    color: crimson;
    
}

h4{direction: rtl;
text-indent: 10px;
letter-spacing: 5px;
line-height: 5px;
}

.fontred{ color: red; }

.fontgreen{color: green;}
div.fontgreen{ color: greenyellow; background-color: grey;}

div > p /* p tag is the imediate parent of div tag */
{ 
    text-transform: uppercase; 
    text-shadow: 2px 2px 3px rgb(175, 160, 160);
    
}
div+p /* p tag is immediate after div tag */
{
    font-size: small;

}

p ~ div {
    
}

#csscolorsrgb p { color: brown; background-color: rgb(200, 160, 160)}
#csscolorsrgba p{color: green; background-color: rgba(250, 60, 90, 0.4); }
#csscolorshex p{ color: yellow; background-color: #23899d;}
#csscolorshexshort p{ color: orange ; background-color: #23d;}
#csscolorshsl p{ color: black ; background-color:hsl(80, 90%, 70%);}
#csscolorshsla p{ color:deeppink; background-color: hsla(80, 90%,70%, 0.2);}

#background p{ background-color: brown;
background-image: none;}

/* Navigation */

.parent{
    border: 2px solid;
    }
  
.box{
    display: inline;
    background-color: rgb(168, 167, 241);

}
#one{
background-color: firebrick;
top: 20px;
}

.overflow{
    background-color:rgb(175, 160, 160);
    width: 200px;
    height: 300px;
    overflow: auto;
    border: 2px solid;
}

img{
    width: 300px;
    height: 200px;
    float: right;
    
}

#div4{
    float: right;
    padding: 10px;
    border: 2px solid;
}
#div5{
    clear: right;
    padding: 10px;
    border: 2px solid;
}

#noclear{
    border: 2px solid;
    overflow: auto;
}

#img1{
    position: absolute;
    left: 0px;
    z-index: -1;
}

#box1{
    margin-top: 200px;
    border: 2px solid;
    padding: 20px;
    width: 200px;
}

/* Flex */

.container{ 
    padding: 1em; 
    background-color: darkseagreen;
}
.flex{
    display: flex;
    gap: 1em;
    flex-wrap: wrap ;
}
.flex > .cell{ flex-grow: 3;}