<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts Page</title>
    <link rel="stylesheet" href="layoutstyle.css">
    <link rel="icon" href="images/layoutlogo.png" >
</head>
<body>
    <div class="container">
        <div class="cell cell1">
            <p>Green</p>            
        </div>
        <div class="cell cell2">
            <p>Yellow</p>
            <div class="innercell">
                <div class="innerleft1">1</div>
                <div class="innerleft2">2</div>
                <div class="innerleft3">3</div>
                <div class="innerleft4">4</div>
            </div>            
        </div>
        <div class="cell cell3">
            <p>Pink</p>
            <div class="innercell">
                <div class="innerrighta">A</div>
                <div class="innerrightb">B</div>
                <div class="innerrightc">C</div>
                <div class="innerrightd">D</div>
            </div> 

        </div>
        <div class="cell cell4">
            <p>Blue</p>
        </div>
        <div class="cell cell5">
            <p>Orange</p>
        </div>
      </div>




</body>
</html>